.c-feature-blocks {
  &__block {
    padding: $size-4;
    text-align: center;
    border-radius: $border-radius;

    &-icon {
      position: relative;
      min-width: 100%;
      min-height: 111px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      margin-bottom: $size-3;
      transform: scale(.9);

      @include media-breakpoint-down(sm) {
        transform: scale(.7);
      }
    }

    &:hover {
      .c-feature-blocks__block-icon {
        filter: invert(35%) sepia(51%) saturate(6369%) hue-rotate(350deg) brightness(89%) contrast(86%);
        dsgadg: sdfa;
      }
    }

    &:hover {
      @extend .shadow;
      background: $white;
      color: $red;
    }
  }
}
