.swiper-pagination-bullet {
  border-radius: initial;
  width: 35px;
  height: 6px;
  left: 703px;
  top: 3190px;
  background: #DAD9D9;
  opacity: 1;

  &-active {
    width: 36px;
    height: 6px;
    left: 624px;
    top: 3190px;
    background: #D53D27;
  }
}
